@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<br />
<br />
<br />
<br />
<h1 class="text-center" style="color:black;">Meet the Team!</h1>
<br />
<br />

<div class="row justify-content-center">
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="~/img/headshot.jpg" alt="Avatar" style="width:280px;height:380px;">
            </div>
            <div class="flip-card-back">
                <h1>Miller Hardy</h1>
                <p>Miller is an avid fantasy novel reader and sports aficionado who is working through the Information Systems program at BYU.</p>
            </div>
        </div>
    </div>
    <br />
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="~/img/jamieheadshot.jpeg" alt="Avatar" style="width:280px;height:380px;">
            </div>
            <div class="flip-card-back">
                <h1>Jamie Cromar</h1>
                <p>Jamie Cromar is a dedicated runner looking to complete her first marathon and an amazing baker???. Jamie is currently a junior in the Information Systems program at BYU</p>

            </div>
        </div>
    </div>
    <br />
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="~/img/jrheadshot.jpg" alt="Avatar" style="width:280px;height:380px;">
            </div>
            <div class="flip-card-back">
                <h1>JR Smith</h1>
                <p>JR Smith is currently attending college at BYU while majoring in Information Systems. In his free time, JR loves to surf, lift weights, and watch football.</p>

            </div>
        </div>
    </div>
    <br />
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="~/img/carolineheadshot.jpg" alt="Avatar" style="width:280px;height:380px;">
            </div>
            <div class="flip-card-back">
                <h1>Caroline Crane</h1>
                <p>Caroline Crane is currently a member of the junior core within the BYU Information Systems program who is working towards a PHD in the field. When she's not studying or attending club meetings Caroline enjoys running and spending time with her friends.</p>

            </div>
        </div>
    </div>

</div>
<br />
<br />
<h1 class="text-center" style="color:black;">Professors</h1>
<br />
<div class="row justify-content-center">
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="~/img/Kerry-Muhlestein-teaching.jpg" alt="Avatar" style="width:280px;height:380px;">
            </div>

            <div class="flip-card-back">
                <h2>Kerry Muhlestein</h2>
                <p class="text-left">Kerry Muhlestein is a Professor of Ancient Scripture at BYU, and is also the Director of the BYU Egypt Excavation Project. He and his wife, Julianne, are the parents of six children, and together they have lived in Jerusalem while Kerry has taught there on multiple occasions. He has served as the chairman of a national committee for the American Research Center in Egypt and serves on their Research Supporting Member Council. </p>

            </div>
        </div>
    </div>



    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="~/img/rpaulreal.jpg" alt="Avatar" style="width:280px;height:380px;">
            </div>
            <div class="flip-card-back">
                <h2>Richard Paul Evans</h2>
                <p>Richard Paul Evans is a Professor of Microbiology and Molecular Biology at Brigham Young University. Professor Evans has been published numerous times and has taught at BYU for over more than 10 years. </p>

            </div>
        </div>
    </div>



</div>
<br />
<br />
<br />
<br />


