@{
    ViewData["Title"] = "Home Page";
}

@*<img src="~/img/main.png" class="img-fluid" />*@



<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-8 col-centered">
            <div class="maintxt">
                my text
            </div>
            @*<img src="~/img/main.png" alt="background" style="width:100%;" />
            <h1 class="centered">BYU DIGS</h1>
            <h2 class="centered">BYU Egypt Excavation Project - Fag el-Gamous</h2>*@
        </div>
    </div>
</div>
